<%- include('./partials/header') %>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= data[i].fullname%></td>
            <td><%= data[i].productType%></td>
            <td><%= data[i].price%></td>
            <td><%= data[i].productQuantity%></td>
          </tr>
          <% } }else{ %>
          <tr>
            <td><%=data.length%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <%- include('./partials/footer') %>
