<!DOCTYPE html>
<html lang="en">

    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/productCatalog.css">
    <title>Products</title>
</head>

<body>
    <%if(isAdmin == null) {%>
        <%- include('./_header') %>
    <%}
    if(isAdmin == 1) {%>
        <%- include('./_adminheader') %>
    <%}
    if(isAdmin == 0) {%>
        <%- include('./_userheader') %>
    <%}%>
    <% if(message.length > 0) { %>
        <div class = "alert" role = "alert">
            <%= message %>
        </div>
      <%} %>
    <div class="container2">
        <div class="card2">
            <h3>
                <%=data[0].fullName%>
            </h3>
            <p>
                <%=data[0].prodDesc%>
            </p>
            <form action='/addToCart' method='post'>
                <select name="productColor">
                    <%for(var i=0; i < colors.length; i++) {%>
                        <option value="<%=colors[i].color%>">
                            <%=colors[i].color%>
                        </option>
                        <%}%>
                </select>
                <select name="productSize">
                    <%for(var i=0; i < sizes.length; i++) {%>
                        <option value="<%=sizes[i].size%>">
                            <%=sizes[i].size%>
                        </option>
                        <%}%>
                </select>
                <input type="hidden" name="fullName" value="<%=data[0].fullName%>">
                <input type="hidden" name="userID" value="<%=userID%>">
                <input type="hidden" name="isAdmin" value="<%=isAdmin%>">
                <button class="btn" type="submit">Add to Cart</button>
            </form>
        </div>
    </div>
    <div class="GoBack"><a href='/productCatalog'>Go Back</a></div>
</body>
</html>